<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prueba Incidentes</title>
</head>
<body>
    <h1>Listado de Incidentes</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each incidentes}}
                    <tr>
                        <td>{{this.nombre}}</td>
                        <td>-</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>