.container{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.table-title {
    font-weight: bold;
    color:#DAE4F2;
    margin: 10px 0px;
}

.table-title-container {
    position: relative;
    text-align: left;
    margin-bottom: 10px;
}

.text {
    color:#DAE4F2;
    margin-bottom: 10px;
}

#boton-buscar{
    background-color: #20CCC0;
    color: #111;
    border:1px solid #222;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 60px;
}

#boton-buscar:hover{
     background-color: #5ae0d7;
}

#boton-navigate-alta-incidente {
    background-color: #20CCC0;
    color: #111;
    border:1px solid #222;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#boton-navigate-alta-incidente:hover {
    background-color: #5ae0d7;
}

.table-container{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-container {
    display:flex;
    justify-content: flex-end;
}

.table {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1.5fr;
    border: 1px solid #ccc;
    border-radius:5px;
    max-width: 100%;
}

#table-ubicacion {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
}

.table-header {
    background-color: #DAE4F2;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #000000;
}

.table-row {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #DAE4F2;
}

.img-container{
    display: flex;
    justify-content: center;
}

.tick{
    height: 22px;
    width:22px;
}

tick_main{
}

.tick_container .tick_hover{
    display: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
}

.tick_container:hover .tick_hover{
    display: inline;
}

.tick_container:hover .tick_main{
    display: none;
}

.searcher-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.searcher{
    margin: 20px 50px 20px 0;
}

label{
    color: #DAE4F2;
}

.checkbox-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0px;
    width: 100px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.search-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.no-result {
    background-color: #e75b5b;
    text-align: center;
    padding: 10px;
    height: 32px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

