<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/generalize.css">
    <link rel="stylesheet" href="/css/bienvenida.css">
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<div class="header">
    <div class="logo"><img src="/img/logo.png" alt=""></div>
    <h1 class="title">Bienvenido!</h1>
</div>

<div class="button-container">
    <button class="boton-navigate" onclick="location.href='/login'">Iniciar sesion</button>
    <button class="boton-navigate" onclick="location.href='/incidentes/crear'" id="boton-navigate-alta-incidente">Dar de alta un incidente</button>
    <button class="boton-navigate" onclick="location.href='/incidentes'" id="boton-navigate-incidentes">Ver incidentes</button>
</div>

</body>
</html>